body {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    font-family: Georgia;
  }
  button {
    background-color: #01d758;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  form {
    border-width: 2px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .input-label {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .input-item {
    width: 100%;
    margin-bottom: 5px;
    margin-top: 16px;
  }